body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
}

.container-login, .container-admin {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.toggle-buttons button {
    background: #4fa6cb;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    text-align: center;
}
.toggle-buttons button:hover {
    background: #3d8db3;
}
form, .container-admin input, .container-admin ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
form input, .container-admin input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #191919;
    border-radius: 5px;
}

form button {
    width: 60%;
    padding: 10px;
    background: #4fa6cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #3d8db3;
}

.container-admin ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
}
.container-admin ul li {
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    text-align: left;
}
